// Media Queries
@media (max-width: 700px) {
    
    label {
        margin-top: 200px;
        font-size: 1.7rem;
    }
    input {
        width:70%;
        font-size: 1rem;
    }
    .input-container {
        width: 80%;
    }
    .fa-search {
        font-size: 1.5rem;
    }
    button {
        height: 45px;
    }
    h2 {
        font-size: 2rem;
    }
    .definition {
        font-size: 1rem;
    }
}
@media (max-width:400px) {
    h1 {
        font-size: 2rem;
        padding-top: 10px;
    }
    label {
        margin-top: 100px;
        font-size: 1.3rem;
    }
    input {
        font-size: 1rem;
    }
    
}